* {
    box-sizing: border-box;
  }
  .container{
      background-color: rgb(246, 40, 40);
      padding: 10px;
      margin: 10px;
      border-radius: 30px;
  }
  .text-center{
      font-size: 35px;
      text-align: center;
      color: aliceblue;
  }
  .form-group{
      display:flex;
      place-items: center;
      font-size: 30px;
      height: 80px;
      padding: 20px;
      color: aliceblue;
  }
  
  .form-control{
      height: 50px;
      width: 600px;
      margin: 20px;
      font-size: 20px;
  }
  .btn{
      margin-left: 110px;
       width: auto;
      background-color: rgb(54, 52, 54);
      border: none;
      height: 40px;
      margin-top: 2px;
      cursor: pointer;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 15px;
  }
  .b{height: 100%;
      width: 570px;
      padding: 20px;
      position: absolute;
      background-color: rgb(246, 40, 40);
      text-align: center;
      color: aliceblue;
      top: 37%;
      border-radius: 20px;
      
  }
  .box1{left: 3%;
      
  }
  .box2{right: 3%;
  
  
  }
  
  th{
      padding: 10px;
      font-size: 25px;
      color: rgb(255, 255, 255);
  }
  td{
      text-align: left;
      font-size: 20px;
  }
  
  table{
      padding: 10px;
  }
